
@{
    ViewBag.Title = "Completed";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br />
            <br />
            <h2>Sipariş Tamamlandı!</h2>
            <h4>Satın aldığınız ürünler en kısa zamanda kardoya verilecektir.</h4>
        </div>
    </div>
</div>


